{
    email YOUR_EMAIL@example.com
    admin localhost:2019
    on_demand_tls {
        ask http://127.0.0.1:8000/api/platform/caddy-ask/
    }
}

*.YOUR_DOMAIN.com, YOUR_DOMAIN.com {
    tls {
        dns cloudflare YOUR_CLOUDFLARE_API_TOKEN
    }
    
    handle /api* {
        reverse_proxy 127.0.0.1:8000
    }
    
    handle {
        reverse_proxy localhost:3000
    }
}